@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon/icomoon.eot?srf3rx');
  src: url('/fonts/icomoon/icomoon.eot?srf3rx#iefix')
      format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
    url('/fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
}

a {
  color: #1d2f3b !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover,
a:active,
a:focus {
  color: #1d2f3b;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #1d2f3b;
}

::-moz-selection {
  color: #fff;
  background: #1d2f3b;
}

::selection {
  color: #fff;
  background: #1d2f3b;
}

#fh5co-counter,
.fh5co-bg,
.product,
.featured,
.insta {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-video {
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .fh5co-video {
    height: 450px;
  }
}
.fh5co-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.fh5co-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.fh5co-video:hover a {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.fh5co-bg-section {
  background: rgba(29, 47, 59, 0.03);
}

#fh5co-about,
.travel-blog-content,
#fh5co-started,
.travel-blog,
.travel-blog-popular,
#fh5co-contact,
.travel-blog-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-about,
  .travel-blog-content,
  #fh5co-started,
  .travel-blog,
  .travel-blog-popular,
  #fh5co-contact,
  .travel-blog-footer {
    padding: 3em 0;
  }
}

.fh5co-no-pd-top {
  padding-top: 1.5em !important;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  color: #1d2f3b;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.fh5co-heading {
  margin-bottom: 5em;
  position: relative;
}
.fh5co-heading:after {
  position: absolute;
  top: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: black;
  z-index: -1;
}
.fh5co-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
  font-family: 'Sacramento', cursive;
}
.fh5co-heading h2 span {
  padding: 20px 30px;
  border: 1px solid #000;
  z-index: 8;
  position: relative;
}
.fh5co-heading h2 span:after {
  position: absolute;
  top: -10px;
  bottom: 10px;
  left: -10px;
  right: 10px;
  content: '';
  background: #fbf2eb;
  z-index: -1;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading.fh5co-heading-sidebar {
  margin-bottom: 2em;
}
.fh5co-heading.fh5co-heading-sidebar:before {
  top: 20px;
}
.fh5co-heading.fh5co-heading-sidebar h2 {
  font-size: 30px;
}
.fh5co-heading.fh5co-heading-sidebar h2 span {
  padding: 10px 20px;
  border: 1px solid #000;
  z-index: 8;
  position: relative;
}

.insta {
  height: 350px;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #1d2f3b;
  color: #fff;
  border: 2px solid #1d2f3b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #253d4c !important;
  border-color: #253d4c !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #1d2f3b;
  border: 2px solid #1d2f3b;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #1d2f3b;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #1d2f3b;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.col-padded-right {
  padding-right: 2em !important;
}
@media screen and (max-width: 768px) {
  .col-padded-right {
    padding-right: 15px !important;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
